################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TrabajoEnClaseAnalisis/.vs/TrabajoEnClaseAnalisis/v16
/TrabajoEnClaseAnalisis/MiPrimerPaquete/bin/Development
/TrabajoEnClaseAnalisis/MiPrimerPaquete/obj/Development
